html, body {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font: 62.5%/1 "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    background: url(../images/bg-tile.png) repeat;
    height: 100%;
    margin: 0px 20px;
}

#wrapper_back {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    min-height: 100%;
    margin-bottom: -30px;
    position: relative;
    margin-top: 0px;
}

.wrapper_about {
    text-align: center;
    background: url(../images/1px_TranspBack.png) repeat;
    padding-bottom: 20px;
    padding-top: 30px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 3px 3px 3px #888888;
}

h1 {
    padding-bottom: 10 px;
    font-size: 30px;
    font-family: monospace;
    font-weight: normal;
    color: #fff;
}

h2 {
    font-size: 20px;
    font-family: monospace;
    font-weight: normal;
    color: #d5d5d5;
}

#wrapper_back h3 {
    float: left;
    font-size: 16px;
    color: #0099ff;
    font-family: monospace:normal;
    text-decoration: overline;
}

#wrapper_back img {
    float: right;
    padding: 5px;
}

.video {
    padding-left: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrapper_about a {
    color: #fff;
    text-decoration: none;
    border-bottom: none;
}

.wrapper_about a:hover {
    text-decoration: none;
    border-bottom: 1px dotted;
}

.wrapper_about_left {
    float: left;
    width: 70%;
    text-align: left;
}

.wrapper_about_right {
    float: right;
    width: 30%;
    text-align:left;
}

.wrapper_about_right table {
    float: left;
    margin-left:auto;
    margin-right:auto;
    position: relative;
}

.wrapper_about_right table, td, th {
    border:1px solid #0099ff;
}

.wrapper_about_right th {
    background-color:#0099ff;
    color:#fff;
}
.wrapper_about_right td img {
    margin-right: 8px;
}

.wrapper_about_right a {
    color: #0099ff;
    text-decoration: none;
    border-bottom: none;
}

.wrapper_about_right a:hover {
    text-decoration: none;
    border-bottom: 1px dotted;
}

.wrapper_about_left p, .wrapper_about_right p {
    float: left;
    font-size: 14px;
    color: #333333;
    font-family: Droid Sans:bold;
    line-height: 1.5;
}

.wrapper_about_right ul, .wrapper_about_left ul {
    list-style-type:circle;
    float: left;
    font-size: 14px;
    color: #333333;
    padding-left: 35px;
    font-family: Helvetica;
    padding-right: 20px;
    line-height: 1.5;
}

.wrapper_about_left ul {
    width: 70%;
}

.wrapper_about_left ul li {
    font-family: monospace;
}

.block {
    float: left;
    width: 70%;
}

#footer {
    margin-left:auto;
    margin-right:auto;
    width:800px;
    height: 30px;
    position: relative;
    text-align:center;
    padding-bottom: 10px;
    padding-top: 10px;
    background: url(../images/1px_TranspBack.png) repeat;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 3px 3px 3px #888888;
}

.clearfooter {
    height: 30px;
    clear: both;
}

#footer p {
    vertical-align:center;
    font-size: 14px;
    font-family: monospace;
    font-weight: normal;
    color: #d5d5d5;
}

.wrapper {
    float: left;
    width:450px;
    margin:5px;
}

.wrapper_panel {
    float: right;
    width:515px;
    margin:5px;
}

#wrap {
    height: 30px;
    text-align: center;
}

#wrap p {
    color: #fff;
    margin-top: 2px;
}

input[type=range]:first-of-type {
    width:120px;
    height: 2px;
}

#uno, #dos{
    color: #fff;
    border: none;
    margin-top:4px;
}

#wCanvas {
   float: left;
   width: 100%;
   height: 80%;
   margin-top: 5px;
}
#CanvasOut {
   float: left;
   width: 69%;
   height: 100%;
}

#code_panel {
   float: right;
   width: 30%;
   height: 89%;
   margin-top: 6px;
}

#outputPanel {
    width: 100%;
    height: 8%;
    margin-top: 12px;
    color: black;
    border: 1px solid gray;
    background-color: #cacaca;
    -moz-box-shadow: 1px 1px 8px gray;
    -webkit-box-shadow: 1px 1px 8px gray;
    box-shadow: 1px 1px 8px gray;
}

canvas {
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    -moz-box-shadow: 1px 1px 8px gray;
    -webkit-box-shadow: 1px 1px 8px gray;
    box-shadow: 1px 1px 8px gray;
}

#tarea {
    width: 100%;
    height: 90%;
    line-height: 130%;
    font-size: 12px;
    font-family: monaco, sans-serif;
    background-color: #FFFFFF/*#7cb7e3*/;
    border: 1px solid gray;
    -moz-box-shadow: 1px 1px 8px gray;
    -webkit-box-shadow: 1px 1px 8px gray;
    box-shadow: 1px 1px 8px gray;
}

#errorPanel {
    width: 100%;
    height: 10%;
    font-size: 12px;
    font-family: monaco, sans-serif;
    margin-top: 5px;
    color: red;
    border: 1px solid gray;
    -moz-box-shadow: 1px 1px 8px gray;
    -webkit-box-shadow: 1px 1px 8px gray;
    box-shadow: 1px 1px 8px gray;
}

#input {
    position: absolute;
    display: none;
    width: 50px;
    height: 20px;
}

#editInput {
    width: 100%;
}

canvas:active {
    cursor: default;
}

select, label, .pointer {
    cursor:pointer;
}
