{% extends "base.html" %}

{% block title %}programmm.me{% endblock %}

{% block content %}
<div id="wrapper_back">
    <a href="/about/">
        <img src="{{ STATIC_URL }}images/Button_Engl.png">
    </a>
    <div class = "wrapper_about">
        <h1><a href="/">Programmm.me</a></h1>
        <h2>Визуальное обучение программированию на Паскале</h2>
    </div>

    <div class="video">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/COLa_maKPYE" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="wrapper_about_left">
        <h3>Изучайте программирование с помощью визуализации</h3>
        <p>Это обучающее приложение позволяет писать программы на языке Паскаль непосредственно в веб браузере и визуализировать все этапы разработки программы.</p>
        <h3>При написании программы Вы можете использовать</h3>
        <div class="block">
            <p><b>Типы данных:</b></p>
            <ul>
                <li>integer</li>
                <li>real</li>
                <li>boolean</li>
                <li>char</li>
                <li>array/two-dimensional array</li>
                <li>record</li>
                <li>string</li>
            </ul>
        </div>
        <div class="block">
            <p><b>Операторы:</b></p>
            <ul>
                <li>assignment</li>
                <li>read</li>
                <li>write/writeln</li>
                <li>if..then..else statement</li>
                <li>for..to/downto..do statement</li>
                <li>repeat..until statement</li>
                <li>while..do statement</li>
            </ul>
        </div>
        <div class="block">
            <p><b>Встроенные функции:</b></p>
            <ul>
                <li>sin</li>
                <li>cos</li>
                <li>tan</li>
                <li>trunc</li>
                <li>round</li>
                <li>sqrt</li>
                <li>random</li>
                <li>copy</li>
                <li>pos</li>
                <li>length</li>
                <li>delete</li>
            </ul>
        </div>
    </div>

    <div class="wrapper_about_right">
        <h3>Браузеры</h3>
        <ul>
            <li>Safari 5 и выше</li>
            <li>Chrome 19 и выше</li>
        </ul>
        <h3>Управление</h3>
        <table>
            <tr>
                <th>Кнопка</th>
                <th>Действие</th>
            </tr>
            <tr>
              <td><img src="{{ STATIC_URL }}images/refresh_new.png"></td>
                <td>Нарисовать</td>
            </tr>
            <tr>
                <td><img src="{{ STATIC_URL }}images/play_new.png"></td>
                <td>Запустить</td>
            </tr>
            <tr>
                <td><img src="{{ STATIC_URL }}images/pause_new.png"></td>
                <td>Пауза</td>
            </tr>
            <tr>
                <td><img src="{{ STATIC_URL }}images/step.png"></td>
                <td>По шагам</td>
            </tr>
            <tr>
                <td><img src="{{ STATIC_URL }}images/hand_new.png"></td>
                <td>"Лапа"</td>
            </tr>
        </table>
        <h3>Исходники программы</h3>
        <p>Programmn.me можно скачать на гитхабе <a href="https://github.com/relloudder/Visual-programming-environment">/relloudder/Visual-programming-environment.</a></p>
        <h3>Контакты</h3>
        <p>Возможности программы постоянно расшираются. Хотите узнать больше - <a href="mailto:relloudder@gmail.com">свяжитесь со мной.</a></p>
    </div>
    <div class="clearfooter"></div>
</div>

<div id = "footer">
    <p>programmm.me @2012</p>
</div>
{% endblock content %}
