{% extends "base.html" %}

{% block title %}programmm.me{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
    $("nav ul li").hover(function() {
        $(this).addClass("active");
        $(this).find("ul").show().animate({opacity: 1}, 400);
        },function() {
        $(this).find("ul").hide().animate({opacity: 0}, 200);
        $(this).removeClass("active");
    });
    $('nav ul li ul li:first-child').prepend('<li class="arrow"></li>');
    $('nav ul li:first-child').addClass('first');
    $('nav ul li:last-child').addClass('last');
    $('nav ul li ul').parent().append('<span class="dropdown"></span>').addClass('drop');
});
</script>
<script type="text/javascript" src="{{ STATIC_URL }}lib/html5slider.js"></script>

{% endblock js %}

{% block content %}
  <div class="wrapper">
      <nav class="dark">
          <ul class="clear">
              <li><b>Programmm.me</b></li>
              <li><a href="#">Examples</a>
                  <ul>
                      <li><a href="#" id="loops">Loops</a></li>
                      <li><a href="#" id="arrays">Arrays</a></li>
                  </ul>
              </li>
              <li><a href="#">Run</a>
                  <ul>
                      <li><a href="#" id="drawMenu">Draw</a></li>
                      <li><a href="#" id="playMenu">Run</a></li>
                      <li><a href="#" id="stepMenu">Step over</a></li>
                      <li><a href="#" id="pauseMenu">Pause</a></li>
                      <li><a href="#" id="reset">Reset</a></li>
                  </ul>
              </li>
              <li><a href="/about/">About</a></li>
          </ul>
      </nav>
  </div>

  <div class="wrapper_panel">
      <nav class="dark">
          <ul class="clear">
            <li><img id="draw" title="Draw static view" src="{{ STATIC_URL }}images/refresh_new.png"></li>
            <li><img id="play" title="Run visualization" src="{{ STATIC_URL }}images/play_new.png"></li>
            <li id="pause"><img title="Pause" src="{{ STATIC_URL }}images/pause_new.png"></li>
            <li id="step"><img title="Step" src="{{ STATIC_URL }}images/step.png"></li>
            <li id="hand"><img title="Hand" src="{{ STATIC_URL }}images/hand_new.png"></li>
              <li>
                  <div id="wrap">
                      <div id="uno">Zoom: 1</div>
                      <input type="range" id="one"  min="0.5" max="1.5" step="0.01" value="1"/>
                      <!--<input type="range" id="rangeinput" min="0.5" max="1.5" step="0.01" value="1"/><br>
                      <output id="rangevalue">1</output>-->
                  </div>
              </li>
              <li>
                  <div id="wrap">
                      <div id="dos">Speed: 0.3</div>
                      <input type="range" id="two" min="0.01" max="0.6" step="0.01" value="0.3"/><br>
                      <!--<input type="range" id="rangeinput1" min="0.01" max="0.6" step="0.01" value="0.3"/><br>
                      <output id="rangevalue1">0.3</output>-->
                  </div>
              </li>
          </ul>
      </nav>
  </div>

  <div id="canvasOut" >
      <div id="wCanvas">
          <canvas id="canvas"></canvas>
      </div>
      <textarea cols=30 rows=40 id="outputPanel"></textarea>
  </div>
  <div id='input'><input type="text" id="editInput" value=""></div>
  <div id="code_panel">
      <div id="tarea"><textarea id="code" name="code">
var

begin

end.
      </textarea></div>

<script>
    editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "text/x-pascal"
    });
    document.getElementById("loops").onclick = function()  {
        editor.setValue("//sum of digits of a natural number\n\nvar\n  k, sum, a: integer;\n\nbegin\n  writeln('sum of digits of a natural number');\n  read(k);\n  sum:=0;\n  while k<>0 do begin\n    a:=k mod 10;\n    a:=k mod 10;\n    k:=k div 10;\n    sum:=sum+a;\n  end;\n  writeln('sum= ',sum);\nend.");
    }
    document.getElementById("arrays").onclick = function()  {
        editor.setValue("//find max in array\n\nvar\n  a:array [1..5] of real;\n  n,i:integer;\n  max:real;\n\nbegin\n  read(n);\n  for i:=1 to n do\n    read(a[i]);\n  max:= a[1];\n  for i:=2 to n do\n    if max<a[i] then\n      max:=a[i];\n  writeln('max=',max);\nend.");
    }
</script>

      <input type="text" id="errorPanel" value="">
  </div>
{% endblock content %}
